@keyframes normal {
    0% {
        border-radius: 10%;
    }

    20% {
        border-radius: 50%;
    }

    80% {
        border-radius: 50%;
    }

    100% {
        border-radius: 10%;
    }
}

@keyframes isVisited {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(22, 114, 145);
    }

    50% {
        width: 20px;
        height: 20px;
    }

    100% {
        background-color: #87c79e;
    }
}

@keyframes isShortest {
    0% {
        width: 40px;
        height: 40px;
        background-color: rgb(108, 198, 201);
    }

    50% {
        width: 20px;
        height: 20px;
    }

    100% {
        background-color: #6272a5;
    }
}

@keyframes isWall {
    0% {
        border-radius: 50%;
    }

    100% {
        border-radius: 10%;
    }
}

@keyframes isStart {
    0% {
        background-color: #cacab0;
    }

    20% {
        background-color: #e0e035;
    }

    40% {
        background-color: #cacab0;
    }

    60% {
        background-color: #e0e035;
    }

    80% {
        background-color: #cacab0;
    }

    100% {
        background-color: #e0e035;
    }
}

@keyframes isEnd {
    0% {
        background-color: #cacab0;
    }

    20% {
        background-color: #be5151;
    }

    40% {
        background-color: #cacab0;
    }

    60% {
        background-color: #be5151;
    }

    80% {
        background-color: #cacab0;
    }

    100% {
        background-color: #be5151;
    }
}

.node-wrapper {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.node {
    cursor: pointer;
    background-color: rgb(194, 187, 178);
    height: 20px;
    width: 20px;
    transition: all 1s;
    animation-name: normal;
    animation-duration: 1s;
    animation-timing-function: linear;
    border-radius: 10%;
}

.node-wrapper:hover .node {
    border-radius: 50%;
}

.node.isStart {
    animation-name: isStart;
    background-color: #e0e035;
}

.node.isEnd {
    animation-name: isEnd;
    background-color: #be5151;
}

.node.isShortest {
    animation-name: isShortest;
    background-color: #6272a5;
}

.node.isVisited {
    animation-name: isVisited;
    background-color: #87c79e;
    animation-duration: 4s;
}

.node.isWall {
    animation-name: isWall;
    animation-duration: 2s;
    background-color: black;
}