* {
  user-select: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
}

.wrapper .upper {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.wrapper .upper .click-container {
  padding: 5px;
  border-radius: 10px;
  background-color: #cecac3;
  margin: 5px;
  max-width: 250px;
}

.wrapper .upper .click-container .title {
  margin-left: 5px;
  padding-left: 5px;
}

.wrapper .lower {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.count-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.count-wrapper .visited-Nodes-count {
  padding: 10px;
  font-size: 20px;
  background-color: #cecac3;
  border-radius: 20px;
  width: 170px;
}

.count-wrapper .path-count {
  padding: 10px;
  font-size: 20px;
  background-color: #cecac3;
  border-radius: 20px;
  width: 240px;
}